.container-aboutus {
  .h2-aboutus {
    color: #7e8b30;
    font-weight: 600;
  }
  .parrafo {
    padding-right: 10rem;
    padding-left: 10rem;
    text-align: center;
  }
}

.parrafo{
  font-size:20px;
}